<style  type="text/css">
cool {
  width: 100px;
  height: 100px;
  background-color: red;
  position: relative;
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

loud {
    font-size: 20pt;
    }

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}

/* Standard syntax */
@keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}
</style>

<b><center>
<span style="font-size: 24pt; line-height: 1.2">
COMS W4111: Introduction to Databases<br>
Spring 2024, Sections 002/V02
</span>
</center></b>
<br>
<p>
<i><center>
<span style="font-size: 20pt; line-height: 1.2">
Midterm
</span>
</center></i>

# Introduction

This notebook contains the midterm. **Both Programming and Nonprogramming tracks should complete this.** To ensure everything runs as expected, work on this notebook in Jupyter.

- You may post **privately** on Edstem or attend OH for clarification
    - TAs will not be providing hints

Submission instructions:

* You will submit **PDF and ZIP files** for this assignment. Gradescope will have two separate assignments for these.
* For the PDF:
    * The most reliable way to save as PDF is to go to your browser's menu bar and click `File -> Print`. Switch the orientation to landscape mode, and hit save.
    * **MAKE SURE ALL YOUR WORK (CODE AND SCREENSHOTS) IS VISIBLE ON THE PDF. YOU WILL NOT GET CREDIT IF ANYTHING IS CUT OFF.** Reach out for troubleshooting.
* For the ZIP:
    * Zip a folder containing this notebook and any screenshots.
* Further submission instructions may be posted on Edstem.

<hr style="height:2px;">

# Setup

In [130]:
%load_ext sql
%sql mysql+pymysql://root:dbuserdbuser@localhost

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [131]:
import pandas
from sqlalchemy import create_engine
engine = create_engine("mysql+pymysql://root:dbuserdbuser@localhost")

<hr style="height:2px;">

# Written

- You may use lecture notes, slides, and the textbook
- You may use external resources, but you must cite your sources
- As usual, keep things short

## W1

Briefly explain structured data, semi-structured data, and unstructured data. Give an example of each type of data.

- **Structured Data**: Structured data is laid out in a way that is efficiently addressable/accessible. It is based on a relational database table.
    - Example: spreadsheet
- **semi-structured data**: semi-structured data is data which is not fully structured but still has elements (hierarchy, keys, or something like that) that make it easier to access and analyze than unstructured data.
    - Example: JSON, XML
- **unstructured data**: unstructured data has no predefined organization. It does not fit into the relational database model easily.
    - Example: a bunch of PDFs

## W2

Codd's 0th rule states:

    For any system that is advertised as, or claimed to be, a relational database management system, that system must be able to manage databases entirely through its relational capabilities.
    
Briefly explain and give examples of how the rule applied to:

1. Metadata
2. Security

**metadata**

Codd's 0th rule means that information about tables, columns, relationships, etc should be stored/queried using relational principles.

For example, in a relational database, metadata about tables and their attributes (columns) can be stored in system tables. These system tables contain information about all the tables in the database, such as the names of the tables themselves, column names, data types, etc.

**security**

Codd's 0th rule means that RDBMSs must have built-in support for authorizing users and protecting the data.

For example, SQL provides commands to manage security in a relational database by defining access control and permissions. There are types of authorizations called *priveleges* (read, update, insert, delete) which define how users can make changes to a table's rows, and further, authorizations which define how users can interact with the schema as a whole. SQL helps database adminstrators manage this with the `grant` and `revoke` keyword.

## W3

Codd's 6th rule states:

    All views that are theoretically updatable are also updatable by the system.
    
Using the following table definition, use SQL (`create view`) to define

    1. Two views of the table that are not possible to update
    2. One view that is possible to update
    
You do not need to execute the statements. We are focusing on your understanding.

```
create table student
(
    social_security_no char(9) not null primary key,
    last_name varchar(64) null,
    first_name varchar(64) null,
    enrollment_year year null,
    total_credits int null
);
```

```

# View 1: Not Possible to Update (Due to Aggregation)
CREATE VIEW view_not_updateable_1 AS
SELECT
    enrollment_year,
    COUNT(*) AS student_count
FROM student
GROUP BY enrollment_year;

# View 2: Not Possible to Update (Due to Join and Aggregation)
CREATE VIEW view_not_updateable_2 AS
SELECT
    s.social_security_no,
    s.last_name,
    s.first_name,
    s.enrollment_year,
    s.total_credits,
    c.course_name
FROM student s
JOIN course c ON s.social_security_no = c.student_social_security_no
WHERE s.enrollment_year = 2022;

# View 3: Possible to Update
CREATE VIEW view_updateable AS
SELECT
    social_security_no,
    last_name,
    first_name,
    enrollment_year,
    total_credits
FROM student
WHERE enrollment_year = 2023;

## W4

The Columbia University directory of courses uses `20241COMS4111W002` for this sections "key".

1. Is this key atomic? Explain.
2. Explain why having non-atomic keys creates problems for indexes.

1. This key is not atomic because within the key, there are fields like year, course_department, course_number, and section.

2. Indexing on non-atomic keys creates more overhead than with atomic keys because you might need to look at multiple fields to do things like compare or update entries.

## W5

Briefly explain the following concepts:

1. Natural join
2. Equi-join
3. Theta join
4. Left join
5. Right join
6. Outer join
7. Inner join

1. Natural join
    - It is a type of theta join that automatically identifies common attributes based on their names without requiring explicit specification.
2. Equi-join
    - An equi-join is a specific type of theta join where the condition for combining rows from two relations is based on the equality of values in specified attributes. It is a more general term that includes natural joins but allows for explicit definition of the equality condition.
3. Theta join
    - A theta join is a join operation where rows from two relations are combined based on a specified condition (called a theta condition), which can include comparisons using operators such as "=", "<", or ">", allowing for a broader range of join conditions than equi-joins.
4. Left join
    - retrieves all rows from the left (or first) relation and the matching rows from the right (or second) relation. If no match is found in the right relation, the result contains null values for columns from the right relation.
5. Right join
    - Like a left join, but with left and right swapped.
6. Outer join
    - Includes all tuples from at least one of the relations involved (both if it's a full outer join). This means it includes rows with null values in the matching attribute column.
7. Inner join
    - a type of join that does not preserve nonmatched tuples.

## W6

The _Classic Models_ database has several foreign key constraints. For instance, _orderdetails.orderNumber_ references _orders.orderNumber_.

1. Briefly explain the concept of _cascading actions_ relative to foreign keys.
2. How could cascading actions be helpful for the above foreign key relationship?

1. A cascading action on a foriegn key means that when the record in the parent table is affected, so is the corresponding record in the child table.
2. Cascading actions with foreign keys would be helpful in the Classic Models because it would allow for sychronization of changes. For instance, deleting an `order` record would necessarily mean the corresponding `orderdetails` record would also be deleted.

## W7

Give two reasons for using an associative entity to implement a relationship instead of a foreign key.

1. An associative entity allows for the relationship itself to have attributes (rather than the relationsip just being its endpoints)
2. Associative entitites are a simpler way of representing many-to-many relationships.

## W8

Briefly explain how SQL is closed under its operations. Give a simple query that takes advantage of this.

SQL is closed under its operations, which means that operations on tables produce tables. A simple example of this is with `select` followed by a `join`. Since SQL is closed, we can chain operations together, i.e.:

```
SELECT Employees.EmployeeID, Employees.EmployeeName, Departments.DepartmentName 
FROM Employees
JOIN Departments ON Employees.DepartmentID = Departments.DepartmentID;
```

## W9

Briefly explain the differences between:

1. Database stored procedures
2. Database functions
3. Database triggers

1. Stored procedures

    The most general of the three, stored procedures are precompiled sets of one or more SQL statements that we invoke to save runtime. They can make changes to data, and can return zero or more values.
2. Functions 

    Are similar to stored procedures, but they can only return one value. They also cannot change data (they can't have side-effects).
3. Triggers

    Statements that are run automatically on an event (before or after INSERT, UPDATE, or DELETE). They never have a return value and can only have side-effects.

## W10

List three benefits/use cases for defining views.

1. There might be multiple applications using the same database each in their own way. By using a view DB admins can give each application their own version of the database without actually changing the underlying representation of the data.
2. Views can simplify complex queries by providing a shorthand for a lengthy expression
3. We can use views to expose only specific rows/columns to certain users, which has a security benefit of protecting sensitive data.

<hr style="height:2px;">

# Relational Algebra

- Use the [Relax calculator](https://dbis-uibk.github.io/relax/calc/gist/4f7866c17624ca9dfa85ed2482078be8/relax-silberschatz-english.txt/0) for these questions.
- For each question, you need to show your algebra statement and a screenshot of your tree and output.
    - **For your screenshot, make sure the entire tree and output are shown.** You may need to zoom out.
- The suggestions on which relations to use are hints, not requirements.

## R1

- Write a relational algebra statement that produces a relation showing **teachers that taught sections in buildings that didn't match their department's building**.
    - A section is identified by `(course_id, sec_id, semester, year)`.
- Your output should have the following columns (names should match exactly; there should be no prefixes):
    - `instructor_name`
    - `instructor_dept`
    - `course_id`
    - `sec_id`
    - `semester`
    - `year`
    - `course_building`
    - `dept_building`
- You should use the `teaches`, `section`, `instructor`, and `department` relations.


- As an example, one row you should get is

| instructor_name | instructor_dept | course_id | sec_id | semester | year | course_building | dept_building |
|-----------------|-----------------|-----------|--------|----------|------|-----------------|---------------|
| 'Srinivasan'    | 'Comp. Sci.'    | 'CS-101'  | 1      | 'Fall'   | 2009 | 'Packard'       | 'Taylor'      |

- Srinivasan taught CS-101, section 1 in Fall of 2009 in the Packard building. However, Srinivasan is in the CS department, whose building is Taylor.

Algebra statement:

```
pi instructor_name ← instructor.name, instructor_dept ← instructor.dept_name, course_id ← teaches.course_id, sec_id ← teaches.sec_id, semester ← teaches.semester, year ← teaches.year, course_building ← section.building, dept_building ← department.building (
    (instructor join teaches join section anti join department) join (instructor.dept_name = department.dept_name) department
)
```

Execution:

| <img src="./r1.png"> |
| :---: |
| __R1 Execution Result__|

## R2

- Some students don't have instructor advisors. Some instructors don't have student advisees.
- Write a relational algebra statement that produces a relation showing **all valid pairing between unadvised students and instructors with no advisees**.
    - A pairing is valid only if the student's department and instructor's department match.
- Your output should have the following columns (names should match exactly; there should be no prefixes):
    - `instructor_name`
    - `student_name`
    - `dept_name`
- You should use the `advisor`, `student`, and `instructor` relations.
- **You may only use the following operators:** π, σ, =, ≠, ∧ (and), ∨ (or), ρ, ←, ⨝, ⟕, ⟖, ⟗
    - You may not need to use all of them.
    - Notably, you may **not** use anti-join or set difference. 
    

- As an example, one row you should get is

| instructor_name | student_name | dept_name |
|-----------------|--------------|-----------|
| 'El Said'       | 'Brandt'     | 'History' |

- El Said has no advisees, and Brandt has no advisor. They are both in the history department.
- The same instructor may show up multiple times, but the student should be different each time. Similarly, the same student may show up multiple times, but the instructor should be different each time.

Algebra statement:

```
unadvised_students = π student.name, student.dept_name (σ advisor.s_id = NULL (student ⟗ (student.ID = advisor.s_id) advisor))
 
unadvisor_instructors = π instructor.dept_name, instructor.name (σ advisor.i_id = NULL (instructor ⟗ (instructor.ID = advisor.i_id) advisor))

dirty_result = unadvised_students ⨝ (instructor.dept_name = student.dept_name) unadvisor_instructors

π instructor_name ← instructor.name, student_name ← student.name, dept_name ← student.dept_name (dirty_result)
```

Execution:

| <img src="./r2.png"> |
| :---: |
| __R2 Execution Result__|

## R3

- Consider `new_section`, defined as:

```
new_section = π course_id, sec_id, building, room_number, time_slot_id (section)
```

- `new_section` contains sections, their time assignments, and room assignments independent of year and semester.
    - For this question, you can assume all the sections listed in `new_section` occur in the same year and semester.
    - You should copy the given definition of `new_section` to the top of your Relax calculator and treat it as a new relation.
- Write a relational algebra statement that produces a relation showing **conflicting sections**.
    - Two sections conflict if they have the same `(building, room_number, time_slot_id)`.
- Your output should have the following columns (names should match exactly; there should be no prefixes):
    - `first_course_id`
    - `first_sec_id`
    - `second_course_id`
    - `second_sec_id`
    - `building`
    - `room_number`
    - `time_slot_id`
- You should use the `new_section` relation.
- Your output cannot include courses and sections that conflict with themselves, or have two rows that show the same conflict.


- Good news: I'm going to give you the correct output!

| first_course_id | first_sec_id | second_course_id | second_sec_id | building | room_number | time_slot_id |
|-----------------|--------------|------------------|---------------|----------|-------------|--------------|
| 'CS-190'        | 2            | 'CS-347'         | 1             | 'Taylor' | 3128        | 'A'          |
| 'CS-319'        | 2            | 'EE-181'         | 1             | 'Taylor' | 3128        | 'C'          |

- Bad news: Your output must match mine **exactly**. The order of `first_course_id` and `second_course_id` cannot be switched.
    - Hint: You can do string comparisons in Relax using the inequality operators.

Algebra statement:

```
new_section = π  course_id, sec_id, building, room_number, time_slot_id (section)


dirty_out = σ section.course_id ≠ second_course_id and sec_id < second_sec_id (new_section ⨝ (b=building and r=room_number and t=time_slot_id) (π second_course_id←course_id, second_sec_id←sec_id, b←building, r←room_number, t←time_slot_id (new_section)))

π first_course_id ← course_id, first_sec_id←sec_id,second_course_id,second_sec_id,building ←building,room_number←room_number,time_slot_id←time_slot_id (dirty_out)
```

Execution:

| <img src="./r3.png"> |
| :---: |
| __R3 Execution Result__|

<hr style="height:2px;">

# ER Modeling

## Definition to Model

- You're in charge of creating a model for a new music app, Dotify.


- The model has the following entities:
    1. `Artist` has the properties:
        - artist_id (primary key)
        - name
        - description
        - date_joined
    2. `Album` has the properties:
        - album_id (primary key)
        - name
        - release_date
    3. `Song` has the properties:
        - song_id (primary key)
        - title
        - song_length
        - number_of_plays
    4. `User` has the properties:
        - user_id (primary key)
        - name
        - bio
        - date_joined
    5. `Review` has the properties:
        - review_id (primary key)
        - number_of_stars
        - review_text
    6. `Playlist` has the properties:
        - playlist_id (primary key)
        - name
        - description
        
        
- The model has the following relationships:
    1. `Artist-Album`: An artist can have any number of albums. An album belongs to one artist.
    2. `Album-Song`: An album can have at least one song. A song is on exactly one album.
    3. `Artist-Song`: An artist can have any number of songs. A song has at least one artist.
    4. `Album-Review`: An album can have any number of reviews. A review is associated with exactly one album.
    5. `User-Review`: A user can write any number of reviews. A review is associated with exactly one user.
    6. `User-Playlist`: A user can have any number of playlists. A playlist belongs to exactly one user.
    7. `Song-Playlist`: A song can be on any number of playlists. A playlist contains at least one song.
    
    
- Other requirements:
    1. You may **only** use the [four Crow's Foot](https://www.inf.usi.ch/faculty/soule/teaching/2014-spring/2014-03-07/images/crows-feet-notation.png) notations shown in class.
    2. A user can leave at most one review per album (you don't need to represent this in your diagram). However, reviews can change over time. Your model must support the ability to keep track of a user's current and previous reviews for an album as well as the dates for the reviews.
    3. Playlists can change over time. Your model must support the ability to keep track of current songs in a playlist as well as which songs were on a playlist for what date ranges.
        - You don't need to keep track of a history of when a song was on a playlist (e.g., added Jan 1, then removed Jan 2, then re-added Jan 3, then re-removed Jan 4). You can just track the most recent date range (e.g., added Jan 3, then removed Jan 4).
    4. You may not directly link many-to-many relationships. You must use an associative entity.
    5. You may (and should) add attributes to the entities and create new entities to fulfill the requirements. **Do not forget about foreign keys.**
    6. You may add notes to explain any reasonable assumptions you make, either on the Lucidchart or below.
        - It would be beneficial, for instance, to document how you implemented requirements 2 and 3.

_Assumptions and Documentation_
- Requirement 2
    - I assumed that the date posted is sufficient enough to tell us if the review is current (i.e., a users' most recent review is their one review for the album)
    - Users can make many reviews, even for a single album. They are dated so we know which is current.
- Requirement 3
    - I used an associative entity to track the many-to-many relationship between songs in playlists, and this associative entity has dates for being added and removed.
    - If the date removed is null, the song is still on the playlist.

Diagram:

| <img src="./er-diagram.png"> |
| :---: |
| __Definition to Model ER Diagram__|

## Model to DDL

- This question tests your ability to convert an ER diagram to DDL.
- Given the ER diagram below (**not your Dotify diagram**), write `create table` statements to implement the model.
    - You should choose appropriate data types, nullness, etc.
    - **You are required to implement the assumptions shown in the diagram.** You can document your other assumptions.
        - The required assumptions can be implemented through correct choices of data types and nullability. You aren't required to write checks or triggers for them.
    - You don't need to execute your statements. You also don't need to worry about details like creating/using a database.
    
| <img src="./model-to-sql.png"> |
| :---: |
| __Model to DDL ER Diagram__|

Answer:


_Assumptions and Documentation_
- flight_No, seat_no, and passport_no are not strictly numeric
- technically country of origin should be enum, but there are so many possibilities and I don't know them all. For this example I made it a varchar.


```

CREATE TABLE Airport (
    airport_id INT PRIMARY KEY,
    airport_iata CHAR(3),
    airport_icao CHAR(4),
    airport_name VARCHAR(255),
    airport_country VARCHAR(100)
);
CREATE TABLE Airline (
    airline_id INT PRIMARY KEY,
    airline_iata CHAR(2),
    airline_icao CHAR(3),
    airline_name VARCHAR(255),
    active BOOLEAN,
    airline_country VARCHAR(100)
);

CREATE TABLE Passenger (
    passenger_id INT PRIMARY KEY,
    first_name VARCHAR(50),
    last_name VARCHAR(50),
    birthdate DATE,
    country_of_origin VARCHAR(100),
    passport_no VARCHAR(20) UNIQUE
);

CREATE TABLE Airplane (
    airplane_tail_no INT PRIMARY KEY,
    airplane_manufacturer VARCHAR(50),
    airplane_model VARCHAR(50),
    airplane_country_of_origin VARCHAR(100),
    capacity INT,
    airplane_owner_airline_id INT,
    FOREIGN KEY (airplane_owner_airline_id) REFERENCES Airline(airline_id)
);

CREATE TABLE `CrewMember` (
    pilot_id INT PRIMARY KEY,
    employer_airline_id INT,
    first_name VARCHAR(50),
    last_name VARCHAR(50),
    birthdate DATE,
    country_of_origin VARCHAR(100),
    passport_no VARCHAR(20),
    start_date DATE NOT NULL,
    end_date DATE,
    FOREIGN KEY (employer_airline_id) REFERENCES Airline(airline_id)
);
    
CREATE TABLE Flight (
    airline_id INT,
    flight_no VARCHAR(20),
    departure_airport CHAR(3),
    arrival_airport CHAR(4),
    departure_datetime DATETIME,
    airplane_id VARCHAR(10),
    PRIMARY KEY (airline_id, flight_no),

    FOREIGN KEY (airline_id) REFERENCES Airline(airline_id),
    FOREIGN KEY (departure_airport) REFERENCES Airport(airport_iata),
    FOREIGN KEY (arrival_airport) REFERENCES Airport(airport_icao),
    FOREIGN KEY (airplane_id) REFERENCES Airplane(airplane_tail_no)
);

CREATE TABLE CrewMemberFlight (
    pilot_id INT,
    airline_id INT,
    flight_no VARCHAR(20),
    crew_position ENUM('pilot', 'copilot', 'flight_engineer', 'flight_navigator'),
    PRIMARY KEY (pilot_id, airline_id, flight_no),
    FOREIGN KEY (pilot_id) REFERENCES CrewMember(pilot_id),
    FOREIGN KEY (airline_id, flight_no) REFERENCES Flight(airline_id, flight_no)
);

CREATE TABLE PassengerFlight (
    passenger_id INT,
    airline_id INT,
    flight_no VARCHAR(20),
    travel_class ENUM('First', 'Business', 'Economy'),
    seat_no VARCHAR(10),
    on_flight BOOLEAN,
    PRIMARY KEY (passenger_id, airline_id, flight_no),
    FOREIGN KEY (passenger_id) REFERENCES Passenger(passenger_id),
    FOREIGN KEY (airline_id, flight_no) REFERENCES Flight(airline_id, flight_no)
);

```

<hr style="height:2px;">

# Data and Schema Cleanup

## Setup

- There are several issues with the `classicmodels` schema. Two issues are:
    - Having programs or users enter country names for `customers.country` is prone to error.
    - `products.productCode` is clearly not an atomic value.
    

- The following code does the following:
    1. Creates a schema for this question
    2. Creates copies of `classicmodels.customers` and `classicmodels.products`
    3. Loads a table of [ISO country codes](https://en.wikipedia.org/wiki/List_of_ISO_3166_country_codes)

In [132]:
%%sql

drop schema if exists classicmodels_midterm;
create schema classicmodels_midterm;
use classicmodels_midterm;

create table customers as select * from classicmodels.customers;
create table products as select * from classicmodels.products;

 * mysql+pymysql://root:***@localhost
4 rows affected.
1 rows affected.
0 rows affected.
122 rows affected.
110 rows affected.

[]

In [133]:
iso_df = pandas.read_csv('./wikipedia-iso-country-codes.csv')
iso_df.to_sql('countries', schema='classicmodels_midterm', 
              con=engine, index=False, if_exists="replace")

246

In [134]:
%%sql

alter table countries
    change `English short name lower case` short_name varchar(64) null;

alter table countries
    change `Alpha-2 code` alpha_2_code char(2) null;

alter table countries
    change `Alpha-3 code` alpha_3_code char(3) not null;

alter table countries
    change `Numeric code` numeric_code smallint unsigned null;

alter table countries
    change `ISO 3166-2` iso_text char(13) null;
    
alter table countries
    add primary key (alpha_3_code);
    
select * from countries limit 10;

 * mysql+pymysql://root:***@localhost
246 rows affected.
246 rows affected.
246 rows affected.
246 rows affected.
246 rows affected.
0 rows affected.
10 rows affected.

[('Aruba', 'AW', 'ABW', 533, 'ISO 3166-2:AW'),
 ('Afghanistan', 'AF', 'AFG', 4, 'ISO 3166-2:AF'),
 ('Angola', 'AO', 'AGO', 24, 'ISO 3166-2:AO'),
 ('Anguilla', 'AI', 'AIA', 660, 'ISO 3166-2:AI'),
 ('Åland Islands', 'AX', 'ALA', 248, 'ISO 3166-2:AX'),
 ('Albania', 'AL', 'ALB', 8, 'ISO 3166-2:AL'),
 ('Andorra', 'AD', 'AND', 20, 'ISO 3166-2:AD'),
 ('Netherlands Antilles', 'AN', 'ANT', 530, 'ISO 3166-2:AN'),
 ('United Arab Emirates', 'AE', 'ARE', 784, 'ISO 3166-2:AE'),
 ('Argentina', 'AR', 'ARG', 32, 'ISO 3166-2:AR')]

## DE1

- There are four values in `customers.country` that do not appear in `countries.short_name`.
- Write a query that finds these four countries.
    - Hint: Norway should be one of these countries.

In [135]:
%%sql
SELECT DISTINCT customers.country
FROM customers
WHERE customers.country NOT IN (SELECT short_name FROM countries);

 * mysql+pymysql://root:***@localhost
4 rows affected.

[('USA',), ('Norway  ',), ('UK',), ('Russia',)]

## DE2

- `Norway` actually does appear in `countries.short_name`. The reason it appeared in DE1 is because there are two spaces after the name (`Norway__` instead of `Norway`).
- The mapping for the other countries is:

| customers.country | countries.short_name |
| :---: | :---: |
| USA | United States |
| UK | United Kingdom |
| Russia | Russian Federation |

- Write `update table` statements to correct the values in `customers.country` so that all the values in that attribute appear in `countries.short_name`.

In [136]:
%%sql

UPDATE customers
SET country = 'Norway'
WHERE country = 'Norway__';

UPDATE customers
SET country = 'United States'
WHERE country = 'USA';

UPDATE customers
SET country = 'United Kingdom'
WHERE country = 'UK';

UPDATE customers
SET country = 'Russian Federation'
WHERE country = 'Russia';

SELECT DISTINCT customers.country from CUSTOMERS;

 * mysql+pymysql://root:***@localhost
0 rows affected.
36 rows affected.
5 rows affected.
1 rows affected.
28 rows affected.

[('France',),
 ('United States',),
 ('Australia',),
 ('Norway',),
 ('Poland',),
 ('Germany',),
 ('Spain',),
 ('Sweden',),
 ('Denmark',),
 ('Singapore',),
 ('Norway  ',),
 ('Portugal',),
 ('Japan',),
 ('Finland',),
 ('United Kingdom',),
 ('Ireland',),
 ('Canada',),
 ('Hong Kong',),
 ('Italy',),
 ('Switzerland',),
 ('Netherlands',),
 ('Belgium',),
 ('New Zealand',),
 ('South Africa',),
 ('Austria',),
 ('Philippines',),
 ('Russian Federation',),
 ('Israel',)]

## DE3

- The PK of `countries` is `alpha_3_code`. We want that as a FK in `customers`.

1. Create a column `customers.iso_code`
2. Set `customers.iso_code` as a FK that references `countries.alpha_3_code`
3. Fill `customers.iso_code` with the appropriate data based on `customers.country`
4. Drop `customers.country`
5. Create a view `customers_country` of form `(customerNumber, customerName, country, iso_code)`

Bonus point: I would ask you to create an index on `customers.iso_code`, but this is actually already done for us. When was an index created on `customers.iso_code`?

_Answer_

In [137]:
%%sql
ALTER TABLE customers
ADD COLUMN iso_code VARCHAR(3);

ALTER TABLE customers
ADD CONSTRAINT fk_iso_code
FOREIGN KEY (iso_code)
REFERENCES countries(alpha_3_code);

UPDATE customers
SET iso_code = (
    SELECT alpha_3_code
    FROM countries
    WHERE countries.short_name = customers.country
);

ALTER TABLE customers
DROP COLUMN country;

CREATE VIEW customers_country AS
SELECT c.customerNumber, c.customerName, co.short_name AS country, c.iso_code
FROM customers c
JOIN countries co ON c.iso_code = co.alpha_3_code;

 * mysql+pymysql://root:***@localhost
0 rows affected.
122 rows affected.
122 rows affected.
0 rows affected.
0 rows affected.

[]

## DE4

- To test your code, output a table that shows the number of customers from each country.
- You should use your `customers_country` view.
- Your table should have the following attributes:
    - `country_iso`
    - `number_of_customers`
- Order your table from greatest to least `number_of_customers`.
- Show only the first 10 rows.

In [138]:
%%sql
SELECT iso_code AS country_iso, COUNT(*) AS number_of_customers
FROM customers_country
GROUP BY iso_code
ORDER BY number_of_customers DESC
LIMIT 10;

 * mysql+pymysql://root:***@localhost
10 rows affected.

[('USA', 36),
 ('DEU', 13),
 ('FRA', 12),
 ('ESP', 7),
 ('AUS', 5),
 ('GBR', 5),
 ('NZL', 4),
 ('ITA', 4),
 ('FIN', 3),
 ('CHE', 3)]

## DE5

- `products.productCode` appears to be 3 separate values joined by an underscore.
    - I have no idea what the values mean, but let's pretend we do know for the sake of this question.
- Write `alter table` statements to create 3 new columns: `product_code_letter`, `product_code_scale`, and `product_code_number`.
    - Choose appropriate data types. `product_code_letter` should always be a single letter.

In [139]:
%%sql
ALTER TABLE products
ADD COLUMN product_code_letter VARCHAR(1);

ALTER TABLE products
ADD COLUMN product_code_scale INT;

ALTER TABLE products
ADD COLUMN product_code_number INT;

 * mysql+pymysql://root:***@localhost
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [145]:
%%sql 
SELECT * FROM products

 * mysql+pymysql://root:***@localhost
110 rows affected.

[('S10_1678', '1969 Harley Davidson Ultimate Chopper', 'Motorcycles', '1:10', 'Min Lin Diecast', 'This replica features working kickstand, front suspension, gear-shift lever, footbrake lever, drive chain, wheels and steering. All parts are particularly delicate due to their precise scale and require special care and attention.', 7933, Decimal('48.81'), Decimal('95.70'), 'S', 10, None),
 ('S10_1949', '1952 Alpine Renault 1300', 'Classic Cars', '1:10', 'Classic Metal Creations', 'Turnable front wheels; steering function; detailed interior; detailed engine; opening hood; opening trunk; opening doors; and detailed chassis.', 7305, Decimal('98.58'), Decimal('214.30'), 'S', 10, None),
 ('S10_2016', '1996 Moto Guzzi 1100i', 'Motorcycles', '1:10', 'Highway 66 Mini Classics', 'Official Moto Guzzi logos and insignias, saddle bags located on side of motorcycle, detailed engine, working steering, working suspension, two leathe ... (93 characters truncated) ... paint with chrome accents, superior die-cast detail , rotating wheels , working kick stand, diecast metal with plastic parts and baked enamel finish.', 6625, Decimal('68.99'), Decimal('118.94'), 'S', 10, None),
 ('S10_4698', '2003 Harley-Davidson Eagle Drag Bike', 'Motorcycles', '1:10', 'Red Start Diecast', 'Model features, official Harley Davidson logos and insignias, detachable rear wheelie bar, heavy diecast metal with resin parts, authentic multi-colo ... (199 characters truncated) ... t replica, baked enamel finish, 1:10 scale model, removable fender, seat and tank cover piece for displaying the superior detail of the v-twin engine', 5582, Decimal('91.02'), Decimal('193.66'), 'S', 10, None),
 ('S10_4757', '1972 Alfa Romeo GTA', 'Classic Cars', '1:10', 'Motor City Art Classics', 'Features include: Turnable front wheels; steering function; detailed interior; detailed engine; opening hood; opening trunk; opening doors; and detailed chassis.', 3252, Decimal('85.68'), Decimal('136.00'), 'S', 10, None),
 ('S10_4962', '1962 LanciaA Delta 16V', 'Classic Cars', '1:10', 'Second Gear Diecast', 'Features include: Turnable front wheels; steering function; detailed interior; detailed engine; opening hood; opening trunk; opening doors; and detailed chassis.', 6791, Decimal('103.42'), Decimal('147.74'), 'S', 10, None),
 ('S12_1099', '1968 Ford Mustang', 'Classic Cars', '1:12', 'Autoart Studio Design', 'Hood, doors and trunk all open to reveal highly detailed interior features. Steering wheel actually turns the front wheels. Color dark green.', 68, Decimal('95.34'), Decimal('194.57'), 'S', 12, None),
 ('S12_1108', '2001 Ferrari Enzo', 'Classic Cars', '1:12', 'Second Gear Diecast', 'Turnable front wheels; steering function; detailed interior; detailed engine; opening hood; opening trunk; opening doors; and detailed chassis.', 3619, Decimal('95.59'), Decimal('207.80'), 'S', 12, None),
 ('S12_1666', '1958 Setra Bus', 'Trucks and Buses', '1:12', 'Welly Diecast Productions', 'Model features 30 windows, skylights & glare resistant glass, working steering system, original logos', 1579, Decimal('77.90'), Decimal('136.67'), 'S', 12, None),
 ('S12_2823', '2002 Suzuki XREO', 'Motorcycles', '1:12', 'Unimax Art Galleries', 'Official logos and insignias, saddle bags located on side of motorcycle, detailed engine, working steering, working suspension, two leather seats, lu ... (82 characters truncated) ... paint with chrome accents, superior die-cast detail , rotating wheels , working kick stand, diecast metal with plastic parts and baked enamel finish.', 9997, Decimal('66.27'), Decimal('150.62'), 'S', 12, None),
 ('S12_3148', '1969 Corvair Monza', 'Classic Cars', '1:18', 'Welly Diecast Productions', '1:18 scale die-cast about 10" long doors open, hood opens, trunk opens and wheels roll', 6906, Decimal('89.14'), Decimal('151.08'), 'S', 12, None),
 ('S12_3380', '1968 Dodge Charger', 'Classic Cars', '1:12', 'Welly Diecast Productions', '1:12 scale model of a 1968 Dodge Charger. Hood, doors and trunk all open to reveal highly detailed interior features. Steering wheel actually turns the front wheels. Color black', 9123, Decimal('75.16'), Decimal('117.44'), 'S', 12, None),
 ('S12_3891', '1969 Ford Falcon', 'Classic Cars', '1:12', 'Second Gear Diecast', 'Turnable front wheels; steering function; detailed interior; detailed engine; opening hood; opening trunk; opening doors; and detailed chassis.', 1049, Decimal('83.05'), Decimal('173.02'), 'S', 12, None),
 ('S12_3990', '1970 Plymouth Hemi Cuda', 'Classic Cars', '1:12', 'Studio M Art Models', 'Very detailed 1970 Plymouth Cuda model in 1:12 scale. The Cuda is generally accepted as one of the fastest original muscle cars from the 1970s. This model is a reproduction of one of the orginal 652 cars built in 1970. Red color.', 5663, Decimal('31.92'), Decimal('79.80'), 'S', 12, None),
 ('S12_4473', '1957 Chevy Pickup', 'Trucks and Buses', '1:12', 'Exoto Designs', '1:12 scale die-cast about 20" long Hood opens, Rubber wheels', 6125, Decimal('55.70'), Decimal('118.50'), 'S', 12, None),
 ('S12_4675', '1969 Dodge Charger', 'Classic Cars', '1:12', 'Welly Diecast Productions', 'Detailed model of the 1969 Dodge Charger. This model includes finely detailed interior and exterior features. Painted in red and white.', 7323, Decimal('58.73'), Decimal('115.16'), 'S', 12, None),
 ('S18_1097', '1940 Ford Pickup Truck', 'Trucks and Buses', '1:18', 'Studio M Art Models', 'This model features soft rubber tires, working steering, rubber mud guards, authentic Ford logos, detailed undercarriage, opening doors and hood,  removable split rear gate, full size spare mounted in bed, detailed interior with opening glove box', 2613, Decimal('58.33'), Decimal('116.67'), 'S', 18, None),
 ('S18_1129', '1993 Mazda RX-7', 'Classic Cars', '1:18', 'Highway 66 Mini Classics', 'This model features, opening hood, opening doors, detailed engine, rear spoiler, opening trunk, working steering, tinted windows, baked enamel finish. Color red.', 3975, Decimal('83.51'), Decimal('141.54'), 'S', 18, None),
 ('S18_1342', '1937 Lincoln Berline', 'Vintage Cars', '1:18', 'Motor City Art Classics', 'Features opening engine cover, doors, trunk, and fuel filler cap. Color black', 8693, Decimal('60.62'), Decimal('102.74'), 'S', 18, None),
 ('S18_1367', '1936 Mercedes-Benz 500K Special Roadster', 'Vintage Cars', '1:18', 'Studio M Art Models', 'This 1:18 scale replica is constructed of heavy die-cast metal and has all the features of the original: working doors and rumble seat, independent s ... (63 characters truncated) ... nd a bifold hood that reveals an engine so accurate that it even includes the wiring. All this is topped off with a baked enamel finish. Color white.', 8635, Decimal('24.26'), Decimal('53.91'), 'S', 18, None),
 ('S18_1589', '1965 Aston Martin DB5', 'Classic Cars', '1:18', 'Classic Metal Creations', 'Die-cast model of the silver 1965 Aston Martin DB5 in silver. This model includes full wire wheels and doors that open with fully detailed passenger compartment. In 1:18 scale, this model measures approximately 10 inches/20 cm long.', 9042, Decimal('65.96'), Decimal('124.44'), 'S', 18, None),
 ('S18_1662', '1980s Black Hawk Helicopter', 'Planes', '1:18', 'Red Start Diecast', "1:18 scale replica of actual Army's UH-60L BLACK HAWK Helicopter. 100% hand-assembled. Features rotating rotor blades, propeller blades and rubber wheels.", 5330, Decimal('77.27'), Decimal('157.69'), 'S', 18, None),
 ('S18_1749', '1917 Grand Touring Sedan', 'Vintage Cars', '1:18', 'Welly Diecast Productions', 'This 1:18 scale replica of the 1917 Grand Touring car has all the features you would expect from museum quality reproductions: all four doors and bi-fold hood opening, detailed engine and instrument panel, chrome-look trim, and tufted upholstery, all topped off with a factory baked-enamel finish.', 2724, Decimal('86.70'), Decimal('170.00'), 'S', 18, None),
 ('S18_1889', '1948 Porsche 356-A Roadster', 'Classic Cars', '1:18', 'Gearbox Collectibles', 'This precision die-cast replica features opening doors, superb detail and craftsmanship, working steering system, opening forward compartment, opening rear trunk with removable spare, 4 wheel independent spring suspension as well as factory baked enamel finish.', 8826, Decimal('53.90'), Decimal('77.00'), 'S', 18, None),
 ('S18_1984', '1995 Honda Civic', 'Classic Cars', '1:18', 'Min Lin Diecast', 'This model features, opening hood, opening doors, detailed engine, rear spoiler, opening trunk, working steering, tinted windows, baked enamel finish. Color yellow.', 9772, Decimal('93.89'), Decimal('142.25'), 'S', 18, None),
 ('S18_2238', '1998 Chrysler Plymouth Prowler', 'Classic Cars', '1:18', 'Gearbox Collectibles', 'Turnable front wheels; steering function; detailed interior; detailed engine; opening hood; opening trunk; opening doors; and detailed chassis.', 4724, Decimal('101.51'), Decimal('163.73'), 'S', 18, None),
 ('S18_2248', '1911 Ford Town Car', 'Vintage Cars', '1:18', 'Motor City Art Classics', 'Features opening hood, opening doors, opening trunk, wide white wall tires, front door arm rests, working steering system.', 540, Decimal('33.30'), Decimal('60.54'), 'S', 18, None),
 ('S18_2319', '1964 Mercedes Tour Bus', 'Trucks and Buses', '1:18', 'Unimax Art Galleries', 'Exact replica. 100+ parts. working steering system, original logos', 8258, Decimal('74.86'), Decimal('122.73'), 'S', 18, None),
 ('S18_2325', '1932 Model A Ford J-Coupe', 'Vintage Cars', '1:18', 'Autoart Studio Design', 'This model features grille-mounted chrome horn, lift-up louvered hood, fold-down rumble seat, working steering system, chrome-covered spare, opening doors, detailed and wired engine', 9354, Decimal('58.48'), Decimal('127.13'), 'S', 18, None),
 ('S18_2432', '1926 Ford Fire Engine', 'Trucks and Buses', '1:18', 'Carousel DieCast Legends', 'Gleaming red handsome appearance. Everything is here the fire hoses, ladder, axes, bells, lanterns, ready to fight any inferno.', 2018, Decimal('24.92'), Decimal('60.77'), 'S', 18, None),
 ('S18_2581', 'P-51-D Mustang', 'Planes', '1:72', 'Gearbox Collectibles', 'Has retractable wheels and comes with a stand', 992, Decimal('49.00'), Decimal('84.48'), 'S', 18, None),
 ('S18_2625', '1936 Harley Davidson El Knucklehead', 'Motorcycles', '1:18', 'Welly Diecast Productions', 'Intricately detailed with chrome accents and trim, official die-struck logos and baked enamel finish.', 4357, Decimal('24.23'), Decimal('60.57'), 'S', 18, None),
 ('S18_2795', '1928 Mercedes-Benz SSK', 'Vintage Cars', '1:18', 'Gearbox Collectibles', 'This 1:18 replica features grille-mounted chrome horn, lift-up louvered hood, fold-down rumble seat, working steering system, chrome-covered spare, opening doors, detailed and wired engine. Color black.', 548, Decimal('72.56'), Decimal('168.75'), 'S', 18, None),
 ('S18_2870', '1999 Indy 500 Monte Carlo SS', 'Classic Cars', '1:18', 'Red Start Diecast', 'Features include opening and closing doors. Color: Red', 8164, Decimal('56.76'), Decimal('132.00'), 'S', 18, None),
 ('S18_2949', '1913 Ford Model T Speedster', 'Vintage Cars', '1:18', 'Carousel DieCast Legends', 'This 250 part reproduction includes moving handbrakes, clutch, throttle and foot pedals, squeezable horn, detailed wired engine, removable water, gas ... (22 characters truncated) ... ng monocle windshield, all topped with a baked enamel red finish. Each replica comes with an Owners Title and Certificate of Authenticity. Color red.', 4189, Decimal('60.78'), Decimal('101.31'), 'S', 18, None),
 ('S18_2957', '1934 Ford V8 Coupe', 'Vintage Cars', '1:18', 'Min Lin Diecast', 'Chrome Trim, Chrome Grille, Opening Hood, Opening Doors, Opening Trunk, Detailed Engine, Working Steering System', 5649, Decimal('34.35'), Decimal('62.46'), 'S', 18, None),
 ('S18_3029', '1999 Yamaha Speed Boat', 'Ships', '1:18', 'Min Lin Diecast', 'Exact replica. Wood and Metal. Many extras including rigging, long boats, pilot house, anchors, etc. Comes with three masts, all square-rigged.', 4259, Decimal('51.61'), Decimal('86.02'), 'S', 18, None),
 ('S18_3136', '18th Century Vintage Horse Carriage', 'Vintage Cars', '1:18', 'Red Start Diecast', 'Hand crafted diecast-like metal horse carriage is re-created in about 1:18 scale of antique horse carriage. This antique style metal Stagecoach is al ... (33 characters truncated) ... ent parts.\r\n\r\nThis collectible metal horse carriage is painted in classic Red, and features turning steering wheel and is entirely hand-finished.', 5992, Decimal('60.74'), Decimal('104.72'), 'S', 18, None),
 ('S18_3140', '1903 Ford Model A', 'Vintage Cars', '1:18', 'Unimax Art Galleries', 'Features opening trunk,  working steering system', 3913, Decimal('68.30'), Decimal('136.59'), 'S', 18, None),
 ('S18_3232', '1992 Ferrari 360 Spider red', 'Classic Cars', '1:18', 'Unimax Art Galleries', 'his replica features opening doors, superb detail and craftsmanship, working steering system, opening forward compartment, opening rear trunk with removable spare, 4 wheel independent spring suspension as well as factory baked enamel finish.', 8347, Decimal('77.90'), Decimal('169.34'), 'S', 18, None),
 ('S18_3233', '1985 Toyota Supra', 'Classic Cars', '1:18', 'Highway 66 Mini Classics', 'This model features soft rubber tires, working steering, rubber mud guards, authentic Ford logos, detailed undercarriage, opening doors and hood, removable split rear gate, full size spare mounted in bed, detailed interior with opening glove box', 7733, Decimal('57.01'), Decimal('107.57'), 'S', 18, None),
 ('S18_3259', 'Collectable Wooden Train', 'Trains', '1:18', 'Carousel DieCast Legends', 'Hand crafted wooden toy train set is in about 1:18 scale, 25 inches in total length including 2 additional carts, of actual vintage train. This antique style wooden toy train model set is all hand-assembled with 100% wood.', 6450, Decimal('67.56'), Decimal('100.84'), 'S', 18, None),
 ('S18_3278', '1969 Dodge Super Bee', 'Classic Cars', '1:18', 'Min Lin Diecast', 'This replica features opening doors, superb detail and craftsmanship, working steering system, opening forward compartment, opening rear trunk with removable spare, 4 wheel independent spring suspension as well as factory baked enamel finish.', 1917, Decimal('49.05'), Decimal('80.41'), 'S', 18, None),
 ('S18_3320', '1917 Maxwell Touring Car', 'Vintage Cars', '1:18', 'Exoto Designs', 'Features Gold Trim, Full Size Spare Tire, Chrome Trim, Chrome Grille, Opening Hood, Opening Doors, Opening Trunk, Detailed Engine, Working Steering System', 7913, Decimal('57.54'), Decimal('99.21'), 'S', 18, None),
 ('S18_3482', '1976 Ford Gran Torino', 'Classic Cars', '1:18', 'Gearbox Collectibles', 'Highly detailed 1976 Ford Gran Torino "Starsky and Hutch" diecast model. Very well constructed and painted in red and white patterns.', 9127, Decimal('73.49'), Decimal('146.99'), 'S', 18, None),
 ('S18_3685', '1948 Porsche Type 356 Roadster', 'Classic Cars', '1:18', 'Gearbox Collectibles', 'This model features working front and rear suspension on accurately replicated and actuating shock absorbers as well as opening engine cover, rear stabilizer flap,  and 4 opening doors.', 8990, Decimal('62.16'), Decimal('141.28'), 'S', 18, None),
 ('S18_3782', '1957 Vespa GS150', 'Motorcycles', '1:18', 'Studio M Art Models', 'Features rotating wheels , working kick stand. Comes with stand.', 7689, Decimal('32.95'), Decimal('62.17'), 'S', 18, None),
 ('S18_3856', '1941 Chevrolet Special Deluxe Cabriolet', 'Vintage Cars', '1:18', 'Exoto Designs', 'Features opening hood, opening doors, opening trunk, wide white wall tires, front door arm rests, working steering system, leather upholstery. Color black.', 2378, Decimal('64.58'), Decimal('105.87'), 'S', 18, None),
 ('S18_4027', '1970 Triumph Spitfire', 'Classic Cars', '1:18', 'Min Lin Diecast', 'Features include opening and closing doors. Color: White.', 5545, Decimal('91.92'), Decimal('143.62'), 'S', 18, None),
 ('S18_4409', '1932 Alfa Romeo 8C2300 Spider Sport', 'Vintage Cars', '1:18', 'Exoto Designs', 'This 1:18 scale precision die cast replica features the 6 front headlights of the original, plus a detailed version of the 142 horsepower straight 8 engine, dual spares and their famous comprehensive dashboard. Color black.', 6553, Decimal('43.26'), Decimal('92.03'), 'S', 18, None),
 ('S18_4522', '1904 Buick Runabout', 'Vintage Cars', '1:18', 'Exoto Designs', 'Features opening trunk,  working steering system', 8290, Decimal('52.66'), Decimal('87.77'), 'S', 18, None),
 ('S18_4600', '1940s Ford truck', 'Trucks and Buses', '1:18', 'Motor City Art Classics', "This 1940s Ford Pick-Up truck is re-created in 1:18 scale of original 1940s Ford truck. This antique style metal 1940s Ford Flatbed truck is all hand-assembled. This collectible 1940's Pick-Up truck is painted in classic dark green color, and features rotating wheels.", 3128, Decimal('84.76'), Decimal('121.08'), 'S', 18, None),
 ('S18_4668', '1939 Cadillac Limousine', 'Vintage Cars', '1:18', 'Studio M Art Models', 'Features completely detailed interior including Velvet flocked drapes,deluxe wood grain floor, and a wood grain casket with seperate chrome handles', 6645, Decimal('23.14'), Decimal('50.31'), 'S', 18, None),
 ('S18_4721', '1957 Corvette Convertible', 'Classic Cars', '1:18', 'Classic Metal Creations', '1957 die cast Corvette Convertible in Roman Red with white sides and whitewall tires. 1:18 scale quality die-cast with detailed engine and underbvody. Now you can own The Classic Corvette.', 1249, Decimal('69.93'), Decimal('148.80'), 'S', 18, None),
 ('S18_4933', '1957 Ford Thunderbird', 'Classic Cars', '1:18', 'Studio M Art Models', 'This 1:18 scale precision die-cast replica, with its optional porthole hardtop and factory baked-enamel Thunderbird Bronze finish, is a 100% accurate rendition of this American classic.', 3209, Decimal('34.21'), Decimal('71.27'), 'S', 18, None),
 ('S24_1046', '1970 Chevy Chevelle SS 454', 'Classic Cars', '1:24', 'Unimax Art Galleries', 'This model features rotating wheels, working streering system and opening doors. All parts are particularly delicate due to their precise scale and require special care and attention. It should not be picked up by the doors, roof, hood or trunk.', 1005, Decimal('49.24'), Decimal('73.49'), 'S', 24, None),
 ('S24_1444', '1970 Dodge Coronet', 'Classic Cars', '1:24', 'Highway 66 Mini Classics', '1:24 scale die-cast about 18" long doors open, hood opens and rubber wheels', 4074, Decimal('32.37'), Decimal('57.80'), 'S', 24, None),
 ('S24_1578', '1997 BMW R 1100 S', 'Motorcycles', '1:24', 'Autoart Studio Design', 'Detailed scale replica with working suspension and constructed from over 70 parts', 7003, Decimal('60.86'), Decimal('112.70'), 'S', 24, None),
 ('S24_1628', '1966 Shelby Cobra 427 S/C', 'Classic Cars', '1:24', 'Carousel DieCast Legends', "This diecast model of the 1966 Shelby Cobra 427 S/C includes many authentic details and operating parts. The 1:24 scale model of this iconic lighweight sports car from the 1960s comes in silver and it's own display case.", 8197, Decimal('29.18'), Decimal('50.31'), 'S', 24, None),
 ('S24_1785', '1928 British Royal Navy Airplane', 'Planes', '1:24', 'Classic Metal Creations', 'Official logos and insignias', 3627, Decimal('66.74'), Decimal('109.42'), 'S', 24, None),
 ('S24_1937', '1939 Chevrolet Deluxe Coupe', 'Vintage Cars', '1:24', 'Motor City Art Classics', 'This 1:24 scale die-cast replica of the 1939 Chevrolet Deluxe Coupe has the same classy look as the original. Features opening trunk, hood and doors and a showroom quality baked enamel finish.', 7332, Decimal('22.57'), Decimal('33.19'), 'S', 24, None),
 ('S24_2000', '1960 BSA Gold Star DBD34', 'Motorcycles', '1:24', 'Highway 66 Mini Classics', 'Detailed scale replica with working suspension and constructed from over 70 parts', 15, Decimal('37.32'), Decimal('76.17'), 'S', 24, None),

## DE6

- As an example, for the product code `S18_3856`, the product code letter is `S`, the product code scale is `18`, and the product code number is `3856`.
    - I know the product code scale doesn't always match `products.productScale`. Let's ignore this for now.

1. Populate `product_code_letter`, `product_code_scale`, and `product_code_number` with the appropriate values based on `productCode`.
2. Set the PK of `products` to `(product_code_letter, product_code_scale, product_code_number)`.
3. Drop `productCode`.

In [150]:
%%sql
UPDATE products
SET
    product_code_letter = LEFT(products.productCode, 1),
    product_code_scale = CAST(SUBSTRING(productCode, 2, LOCATE('_', productCode) - 2) AS SIGNED),
    product_code_number = CAST(SUBSTRING_INDEX(productCode, '_', -1) AS SIGNED)
;

SELECT productCode, product_code_letter, product_code_scale, product_code_number FROM products

 * mysql+pymysql://root:***@localhost
110 rows affected.
110 rows affected.

[('S10_1678', 'S', 10, 1678),
 ('S10_1949', 'S', 10, 1949),
 ('S10_2016', 'S', 10, 2016),
 ('S10_4698', 'S', 10, 4698),
 ('S10_4757', 'S', 10, 4757),
 ('S10_4962', 'S', 10, 4962),
 ('S12_1099', 'S', 12, 1099),
 ('S12_1108', 'S', 12, 1108),
 ('S12_1666', 'S', 12, 1666),
 ('S12_2823', 'S', 12, 2823),
 ('S12_3148', 'S', 12, 3148),
 ('S12_3380', 'S', 12, 3380),
 ('S12_3891', 'S', 12, 3891),
 ('S12_3990', 'S', 12, 3990),
 ('S12_4473', 'S', 12, 4473),
 ('S12_4675', 'S', 12, 4675),
 ('S18_1097', 'S', 18, 1097),
 ('S18_1129', 'S', 18, 1129),
 ('S18_1342', 'S', 18, 1342),
 ('S18_1367', 'S', 18, 1367),
 ('S18_1589', 'S', 18, 1589),
 ('S18_1662', 'S', 18, 1662),
 ('S18_1749', 'S', 18, 1749),
 ('S18_1889', 'S', 18, 1889),
 ('S18_1984', 'S', 18, 1984),
 ('S18_2238', 'S', 18, 2238),
 ('S18_2248', 'S', 18, 2248),
 ('S18_2319', 'S', 18, 2319),
 ('S18_2325', 'S', 18, 2325),
 ('S18_2432', 'S', 18, 2432),
 ('S18_2581', 'S', 18, 2581),
 ('S18_2625', 'S', 18, 2625),
 ('S18_2795', 'S', 18, 2795),
 ('S18_2870', 'S', 18, 2870),
 ('S18_2949', 'S', 18, 2949),
 ('S18_2957', 'S', 18, 2957),
 ('S18_3029', 'S', 18, 3029),
 ('S18_3136', 'S', 18, 3136),
 ('S18_3140', 'S', 18, 3140),
 ('S18_3232', 'S', 18, 3232),
 ('S18_3233', 'S', 18, 3233),
 ('S18_3259', 'S', 18, 3259),
 ('S18_3278', 'S', 18, 3278),
 ('S18_3320', 'S', 18, 3320),
 ('S18_3482', 'S', 18, 3482),
 ('S18_3685', 'S', 18, 3685),
 ('S18_3782', 'S', 18, 3782),
 ('S18_3856', 'S', 18, 3856),
 ('S18_4027', 'S', 18, 4027),
 ('S18_4409', 'S', 18, 4409),
 ('S18_4522', 'S', 18, 4522),
 ('S18_4600', 'S', 18, 4600),
 ('S18_4668', 'S', 18, 4668),
 ('S18_4721', 'S', 18, 4721),
 ('S18_4933', 'S', 18, 4933),
 ('S24_1046', 'S', 24, 1046),
 ('S24_1444', 'S', 24, 1444),
 ('S24_1578', 'S', 24, 1578),
 ('S24_1628', 'S', 24, 1628),
 ('S24_1785', 'S', 24, 1785),
 ('S24_1937', 'S', 24, 1937),
 ('S24_2000', 'S', 24, 2000),
 ('S24_2011', 'S', 24, 2011),
 ('S24_2022', 'S', 24, 2022),
 ('S24_2300', 'S', 24, 2300),
 ('S24_2360', 'S', 24, 2360),
 ('S24_2766', 'S', 24, 2766),
 ('S24_2840', 'S', 24, 2840),
 ('S24_2841', 'S', 24, 2841),
 ('S24_2887', 'S', 24, 2887),
 ('S24_2972', 'S', 24, 2972),
 ('S24_3151', 'S', 24, 3151),
 ('S24_3191', 'S', 24, 3191),
 ('S24_3371', 'S', 24, 3371),
 ('S24_3420', 'S', 24, 3420),
 ('S24_3432', 'S', 24, 3432),
 ('S24_3816', 'S', 24, 3816),
 ('S24_3856', 'S', 24, 3856),
 ('S24_3949', 'S', 24, 3949),
 ('S24_3969', 'S', 24, 3969),
 ('S24_4048', 'S', 24, 4048),
 ('S24_4258', 'S', 24, 4258),
 ('S24_4278', 'S', 24, 4278),
 ('S24_4620', 'S', 24, 4620),
 ('S32_1268', 'S', 32, 1268),
 ('S32_1374', 'S', 32, 1374),
 ('S32_2206', 'S', 32, 2206),
 ('S32_2509', 'S', 32, 2509),
 ('S32_3207', 'S', 32, 3207),
 ('S32_3522', 'S', 32, 3522),
 ('S32_4289', 'S', 32, 4289),
 ('S32_4485', 'S', 32, 4485),
 ('S50_1341', 'S', 50, 1341),
 ('S50_1392', 'S', 50, 1392),
 ('S50_1514', 'S', 50, 1514),
 ('S50_4713', 'S', 50, 4713),
 ('S700_1138', 'S', 700, 1138),
 ('S700_1691', 'S', 700, 1691),
 ('S700_1938', 'S', 700, 1938),
 ('S700_2047', 'S', 700, 2047),
 ('S700_2466', 'S', 700, 2466),
 ('S700_2610', 'S', 700, 2610),
 ('S700_2824', 'S', 700, 2824),
 ('S700_2834', 'S', 700, 2834),
 ('S700_3167', 'S', 700, 3167),
 ('S700_3505', 'S', 700, 3505),
 ('S700_3962', 'S', 700, 3962),
 ('S700_4002', 'S', 700, 4002),
 ('S72_1253', 'S', 72, 1253),
 ('S72_3212', 'S', 72, 3212)]

## DE7

- To test your code, output a table that shows the products whose `product_code_scale` doesn't match `productScale`.
- Your table should have the following attributes:
    - `product_code_letter`
    - `product_code_scale`
    - `product_code_number`
    - `productScale`
    - `productName`
- Order your table on `productName`.

In [142]:
%%sql

UsageError: %%sql is a cell magic, but the cell body is empty. Did you mean the line magic %sql (single %)?

<hr style="height:2px;">

# SQL

- Use the `classicmodels` database for these questions.
- The suggestions on which tables to use are hints, not requirements.
- All your answers should be a single select statement. **You may not create a new table.**
    - Subqueries (selects within a select) and the `with` keyword are fine. Just don't use the `create` keyword.

In [ ]:
%sql use classicmodels

UsageError: Line magic function `%sql` not found.

## SQL1

- Write a query that produces a table of form `(productName, productLine, productVendor, totalRevenue)`.
    - Attribute names should match exactly.
    - The `totalRevenue` for a product is the sum of `quantityOrdered*priceEach` across all the rows the product appears in in `orderdetails`.
    - You should consider all orders, regardless of `orders.status`.
- Only include products with `totalRevenue` greater than $150,000.
- Order your output on `totalRevenue` descending.


- You should use the `products` and `orderdetails` tables.

In [ ]:
%%sql

## SQL2

- Write a query that produces a table of form `(productCode, productName, productVendor, customerCount)`.
    - Attribute names should match exactly.
    - `customerCount` is the number of **distinct** customers that have bought the product.
        - Note that the same customer may buy a product multiple times. This only counts as one customer in the product's `customerCount`.
    - You should consider all orders, regardless of `status`.
- Order your table from largest to smallest `customerCount`, then on `productCode` alphabetically.
- Only show the first 10 rows.


- You should use the `orders` and `orderdetails` tables.

In [ ]:
%%sql

## SQL3

- Write a query that produces a table of form `(customerName, month, year, monthlyExpenditure, creditLimit)`.
    - Attribute names should match exactly.
    - `monthlyExpenditure` is the total amount of payments made by a customer in a specific month and year based on the `payments` table.
        - Some customers have never made any payments ever. For these customers, `monthlyExpenditure` should be 0. `month` and `year` can be null.
- Only show rows where `monthlyExpenditure` exceeds `creditLimit` **or** the customer has never made any payments ever (so `month` and `year` should be null for these rows).
- Order your table on `monthlyExpenditure` descending, then on `customerName` alphabetically.
- Only show the first 10 rows.


- You should use the `payments` and `customers` tables.

In [ ]:
%%sql

## SQL4

- Write a query that produces a table of form `(productCode, productName, productLine, productVendor, productDescription)`.
    - Attribute names should match exactly.
- **You should only keep products that have never been ordered by a French customer.**
    - You should consider all orders, regardless of `status`.
- Order your table on `productCode`.


- You should use the `customers`, `orders`, and `orderdetails` tables.

In [ ]:
%%sql

## SQL5

- A customer can have a sales rep employee.
- Corporate is deciding which employees to give raises to.
    - A raise is given for the reason `customers` if an employee has 8 or more customers.
    - A raise is given for the reason `orders` if the total number of orders made by customers associated with an employee is 30 or greater.
        - You should consider all orders, regardless of `status`.
    - A raise is given for the reason `both` if both conditions above are true.
- Write a query that produces a table of form `(firstName, lastName, totalCustomers, totalCustomerOrders, raiseBecause)`.
    - Attribute names should match exactly.
    - `firstName` and `lastName` are for the employee.
    - `totalCustomers` is the total number of customers associated with an employee.
    - `totalCustomerOrders` is the total number of orders made by customers associated with an employee.
    - `raiseBecause` is one of `customers`, `orders`, and `both`.
- Your table should only show employees eligible for raises, i.e., `raiseBecause` should not be null.
- Order your table on `firstName`.


- You should use the `customers`, `orders`, and `employees` tables.

In [ ]:
%%sql